.WeatherForecast {
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  border-radius: 4px;
  margin: 12px 4px;
  padding: 12px 12px;
}

.WeatherForecast-details {
  font-size: 14px;
}

.WeatherForecast-details i {
  width: 18px;
  height: 18px;
  font-size: 16px;
}

.weatherForecast__icon {
  margin: 0 8px;
}

.WeatherForecast-temp span {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 4px;
}

.WeatherForecast-details-block {
  margin-top: 4px;
}
