h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  padding: 16px 0 0 4px;
}

h4 {
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

hr {
  background-color: var(--secondary-color);
  height: 4px;
  margin: 0 auto;
  max-width: 20px;
  text-align: center;
}

.weather-sepForecast {
  margin: 16px auto;
  max-width: 80px;
}

.weather .weather__input-form div,
.weather .weather__city div,
.weather .weather__today-detail {
  padding: 0 4px;
  margin-bottom: 4px;
}

.weather__input-form,
.weather__city {
  margin: 0 2px;
}

.weather .weather__input-form .form-control:focus {
  box-shadow: none;
  border-color: var(--secondary-color);
}

.weather .weather__input-form .btn-searching {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--light-font);
}

.weather .weather__today-weather h2 {
  margin-left: 12px;
  font-size: 60px;
  line-height: 1;
}

.weather .weather__today-weather .measure {
  font-weight: bold;
  color: var(--dark-font);
}
.weather .weather__today-weather .measure a {
  font-weight: bold;
  color: var(--light-font);
  text-decoration: none;
}

.loader-spinners {
  margin: 60px 0;
  display: flex;
  justify-content: center;
}
