:root {
  --primary-color: #1a237e;
  /* --secondary-color: #8c9dff31; */
  --background-light: #8c9dff31;
  --background_app-dark: #9facfa31;
  --background_app-light: #fafafa;
  --dark-font: #263238;
  --light-font: #eceff1;

  --heading-font: "Playfair Display", serif;
  --body-font: "Raleway", sans-serif;
}

.App {
  background: linear-gradient(
    to top,
    var(--background_app-light) 80%,
    var(--background_app-dark) 100%
  );
  border-radius: 16px;
  color: var(--dark-font);
  padding: 20px 4px;
  margin: 24px auto;
  max-width: 450px;
}

.app__weather {
  padding: 0;
}

.App footer {
  font-size: 8px;
}

@media (max-width: 900px) {
  .App {
    margin: 0;
    padding: 8px 4px;
  }
}
