:root {
  --primary-color: #363f8a;
  --secondary-color: #a6c9ff;
  --background-light: #f9f8ff68;
  --background-light_second: #fffefb;
  --dark-font: #474555;
  --light-font: #aba9bb;

  --heading-font: "Playfair Display", serif;
  --body-font: "Raleway", sans-serif;
}

.App {
  border: 1px solid var(--background-light);
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--dark-font);
  padding: 16px 4px;
  margin: 24px auto;
  max-width: 450px;
}

.app__weather {
  padding: 0;
}

.App footer {
  font-size: 8px;
}

@media (max-width: 900px) {
  .App {
    margin: 0;
    padding: 8px 4px;
  }
}
