:root {
  --primary-color: #363f8a;
  --secondary-color: #8f8cb8;
  --background-light: #f9f8ff;
  --background-light_second: #fffade;
  --dark-font: #474555;
  --light-font: #aba9bb;

  --heading-font: "Playfair Display", serif;
  --body-font: "Raleway", sans-serif;
}

.App {
  border: 1px solid var(--background-light);
  border-radius: 4px;
  background-color: var(--background-light);
  color: var(--dark-font);
  padding: 16px;
  margin: 24px auto;
  max-width: 450px;
}

.App footer {
  font-size: 8px;
}

@media (max-width: 900px) {
  .App {
    padding: 16px 4px;
  }
}
